<div class="bg-white rounded box-shadow">
  <h1 class="card text-center border-light col-xs-12  mb-3 pb-2 mb-0">Commentaires</h1>
  <% @training.comments.each do |comment| %>
    <div class= "d-flex flex-column comment">
      <div class="row comment_main">
        <div class="col user_avatar">
          <% if comment.user.picture.attached? %>
            <%= image_tag comment.user.picture %>
          <% else %>
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 64px; height: 64px;" src="https://previews.123rf.com/images/salamatik/salamatik1801/salamatik180100019/92979836-ic%C3%B4ne-de-visage-anonyme-de-profil-personne-silhouette-grise-avatar-par-d%C3%A9faut-masculin-photo-placeholder-.jpg" data-holder-rendered="true">
          <% end %>
        </div>
        <div class="col comment_author">
          <p><i class="fa fa-pencil"></i> <span class="user_name"><%= comment.user.full_name %></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col comment_content">
          <%= comment.content %>
        </div>
      </div>
      <div class="row">

        <div class="col comment_details">
            <p><i class="fa fa-calendar"></i><%= comment.updated_at.strftime('%H:%M %d/%m/%y') %></p>
        </div

        <div class="col comment_buttons">
          <% if current_user %>
            <% if comment.user.id == current_user.id %>
              <%= form_tag comment_path(comment.id), method: "delete" do %>
                <%= hidden_field_tag "training_id", @training.id %>
                <%= hidden_field_tag "comment_id", comment.id %>
                <%= submit_tag "Supprimer" %>
              <% end %>
              <%= form_tag edit_comment_path(comment.id), method: "get" do %>
                <%= hidden_field_tag "school_id", @training.school.id %>
                <%= hidden_field_tag "training_id", @training.id %>
                <%= hidden_field_tag "comment_id", comment.id %>
                <%= submit_tag "Editer" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>
