<br>
=================================
<br>
==========Commentaires============
<br>
=================================
<br>
<br>

<% @comments.each do |comment| %>
  <div class="comment">
    <div class="comment-author">
      <%= comment.user.full_name %>
    </div>
    <div class="comment-content">
      <%= comment.content %>
    </div>
    <% if current_user %>
      <% if comment.user.id == current_user.id %>
        <%= form_tag comment_path(comment.id), method: "delete" do %>
          <%= hidden_field_tag "training_id", @training.id %>
          <%= hidden_field_tag "comment_id", comment.id %>
          <%= submit_tag "Delete", {class: 'btn btn-danger'} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
