<div class="my-3 p-3 bg-white rounded box-shadow">
  <h4 class="border-bottom border-gray pb-2 mb-0">Commentaires</h3>
  <% @training.comments.each do |comment| %>

    <div class= "container-fluid comment">

      <div class="comment_main">
        <div class="user_avatar">
          <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="https://previews.123rf.com/images/salamatik/salamatik1801/salamatik180100019/92979836-ic%C3%B4ne-de-visage-anonyme-de-profil-personne-silhouette-grise-avatar-par-d%C3%A9faut-masculin-photo-placeholder-.jpg" data-holder-rendered="true">
          <i class="fa "></i> <span class="user_name"><%= comment.user.full_name %></span>
          <i class="text-muted"><em></i><%= comment.updated_at.strftime('%d/%m/%y %H:%M') %></em>
        </div>

        <div class="comment_content">
          <%= comment.content %>
        </div>
      </div>

  

      <div class="comment_buttons">
        <div class="row">
        <% if current_user %>
          <% if comment.user.id == current_user.id %>
            <%= form_tag comment_path(comment.id), method: "delete" do %>
              <%= hidden_field_tag "training_id", @training.id %>
              <%= hidden_field_tag "comment_id", comment.id %>
              <%= submit_tag "Supprimer" %>
            <% end %>
            <%= form_tag edit_comment_path(comment.id), method: "get" do %>
              <%= hidden_field_tag "school_id", @training.school.id %>
              <%= hidden_field_tag "training_id", @training.id %>
              <%= hidden_field_tag "comment_id", comment.id %>
              <%= submit_tag "Modifier" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
