
<div class="container-fluid red">

  <div class="container green">

    <div class="row pt-3 m-auto yellow">
       <% @trainings.each do |training|%>
        <article class ="col-xs-12 col-sm-12 col md-4 col-lg-4 p-2 card-index">


            <div class="card card-custom bg-white border-white border-5" style="height: 450px">
            <div class="card-custom-img" style="background-image: url(https://cdn.pixabay.com/photo/2015/06/24/16/36/office-820390_960_720.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="https://images.typeform.com/images/FbT8FjdYKN/image/default" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
              <h4 class="card-title"> <%= training.name %></h4>
              <p class="card-text" style="text-align: justify;"  ><%=training.description%> </p>
            </div>


              <div class="footer">
              <ul>
                <li class="badge badge-info"><%= training.mode %></li>
                <li class="badge badge-sucess"><%= training.mode %></li>
                <li class="badge badge-warning">Primary</li>
               </ul>
              </div>


            <div class="card-footer" style="background: ; border-color: ;">


               <%= link_to "Voir la formation", school_training_path(training.school_id, training.id), class: "btn btn-success btn-lg btn-block" %>

            </div>
          </div>
        </article>
   <% end %>
     </div>

  </div>
</div>
