
<div class="container-fluid red">

  <div class="container green">
    <div class="row pt-3 m-auto yellow">
      <% if @trainings %>
       <% @trainings.each do |training|%>
        <article class ="col-xs-12 col-sm-12 col md-4 col-lg-4 p-2 card-index">


            <div class="card card-custom bg-white border-white border-5" style="height: 450px">
            <div class="card-custom-img" style="background-image: url(<%= training.background_img %>);"></div>

            <div class="card-custom-avatar">
              <img class="img-fluid" src="<%= training.school.logo_url %>" alt="Avatar">

            </div>
            <div class="card-body" style="overflow-y: auto">
              <p><%= training.school.name %></p>
              <h4 class="card-title"> <%= training.name %></h4>
              <p class="card-text" style="text-align: justify;"  ><%=training.description%> </p>
            </div>


              <div class="container justify ">
                  <div class="footer">

            <div class="toast-header">
              <strong class="mr-auto">Les infos clés </strong>
            </div>

            <div class="toast-body ">
              <ul>
              <li class="badge badge-warning">Mode <%= training.mode %></li>
              <% if training.sessions.first %>
                <li class="badge badge-danger">Environ <%= training.sessions.first.price.to_i %> €</li>
              <% end %>
              <li class="badge badge-info">Durée <%= training.duration.to_i %> semaines</li>
              </ul>
            </div>
            </div>
            </div>


            <div class="card-footer" style="background: ; border-color: ;">


               <%= link_to "Voir la formation", school_training_path(training.school_id, training.id), class: "btn btn-success btn-lg btn-block" %>

            </div>
          </div>
        </article>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
