<div class="training">
  <div class="jumbotron">
    <h1 class="display-3"><%= @training.name %></h1>
    <hr class="my-4">
    <h3 class="display-4"><%= @training.school.name %></h3>
    <a class="btn btn-primary btn-lg" href="#" role="button">Voir l'école</a>
  </div>



<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home">Programme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile">Sessions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#lang">Les langages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#more">En savoir plus</a>
  </li>
  
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="home">
   <% @programs.each do |program| %>
        <p><%= program.description %></p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="profile">
      <% if @sessions.count > 0 %>
    <% @sessions.each do |session| %>
      <% if session.start_date && session.end_date %>
        <p><%= "La session commmence le #{session.start_date.strftime('%d/%m/%y')}" %></p>
        <p><%= "La session finit le #{session.end_date.strftime('%d/%m/%y')}" %></p>
      <% end %>
      <p><%= "Lieu : #{session.location}" %></p>
      <p><%= "Prix : #{session.price} €" %></p>
    <% end %>
  <% else %>
    <p>Pas de sessions de prévues...</p>
  <% end %>
  </div>

   <div class="tab-pane fade" id="lang">
    <% @programs.each do |program| %>
        <p><%= program.language %></p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="more">
  <p>Site de la formation : <%= @training.url %></p> 
  <br>

  </div>








 






  <div class="comments">
    <%= render 'comments' %>
    <%= render 'new_comment_form' %>
  </div>
</div>
