<div class="training">
  <div class="jumbotron">
    <h1 class="display-3"><%= @training.name %></h1>
    <hr class="my-4">
    <h3 class="display-4"><%= @training.school.name %></h3>
    <a class="btn btn-primary btn-lg" href="#" role="button">Voir l'école</a>
  </div>

<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 3d066e73801a805aa5d0932a5037a143f0134e92
  <p>Site de la formation : <%= @training.url %></p> 
  <br>

  <% @sessions.each do |session| %>
<<<<<<< HEAD
    <%= session.price %>
    <%= session.location %>
    <%= session.start_date %>
    <%= session.end_date %>
=======
    <%= session.start_date %><br>
    <%= session.end_date %><br>
    <%= session.price %><br>
    <%= session.location %><br>
>>>>>>> 3d066e73801a805aa5d0932a5037a143f0134e92
=======
  <p>Site de la formation : <%= @training.url %></p>
  <br>

  <% if @sessions.count > 0 %>
    <% @sessions.each do |session| %>
      <p><%= "La session commmence le #{session.start_date}" %></p>
      <p><%= "La session finit le #{session.end_date}" %></p>
      <p><%= "Lieu : #{session.location}" %></p>
      <p><%= "Prix : #{session.price}" %></p>
    <% end %>
  <% else %>
    <p>Pas de sessions de prévues...</p>
<<<<<<< HEAD
>>>>>>> 91dc9e7689e9230c2e9f13d2edf3995fba7c9334
=======
>>>>>>> 71266e64e186c3b905df0f19876885b05ffac242
>>>>>>> 3d066e73801a805aa5d0932a5037a143f0134e92
  <% end %>

  <div class="comments">
    <%= render 'comments' %>
    <%= render 'new_comment_form' %>
  </div>
</div>
