<div class="training">
  <div class="jumbotron" style="background-image: url(<%= @training.background_img %>); background-size: cover; background-position: center center;">
    <h1 class="display-5 text-white"> <%= @training.name %></h1>
    <hr class="my-4">
    <h3 class="display-6 text-warning"><%= @training.school.name %></h3>
  </div>


<div class="infos" >
<ul class="nav nav-tabs mb-5">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home">Programme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile">Sessions</a>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#school">L'école</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#more">En savoir plus</a>
  </li>
</ul>

  <div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="home">
    <% if @programs %>
      <p><%= @program.description %></p>

     <p><%= @program.language %></p>
    <% end %>
  </div>
</div>
  <div class="tab-pane fade" id="profile">
    <div class="row">
      <% if @sessions %>
        <% @sessions.each do |session| %>
          <% if session.start_date && session.end_date %>
            <div class="col">
              <div class="card-header border-secondary mb-3"> Session à venir 
              </div>
              <div class="card-body">
                <p class="card-text"><p><i class="fa fa-calendar-check-o" aria-hidden="true"></i><%=  " Commence le : #{session.start_date.strftime('%d/%m/%y')}" %></p>
                <p><i class="fa fa-calendar-times-o" aria-hidden="true"></i><%= " Finit le : #{session.end_date.strftime('%d/%m/%y')}"%></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= "    #{session.location}" %></p>
                <p><i class="fa fa-eur" aria-hidden="true"></i><%= "    #{session.price.to_i}" %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Pas de sessions de prévues...</p>
      <% end %>
    </div>
  </div>



  <div class="tab-pane fade" id="school">
  </div>



  <div class="tab-pane fade" id="more">

    <%= link_to "Aller sur le site de la formation", @training.url, class: "btn btn-info" %>

  </div>

</div>
</div>

  <div class="comments">
    <%= render 'comments' %>
    <%= render 'new_comment_form' %>
  </div>
