<div class="training">
  <div class="jumbotron">
    <h1 class="display-3"><%= @training.name %></h1>
    <hr class="my-4">
    <h3 class="display-4"><%= @training.school.name %></h3>
    <a class="btn btn-primary btn-lg" href="#" role="button">Voir l'école</a>
  </div>

  <p>Site de la formation : <%= @training.url %></p>
  <br>

  <% if @sessions.count > 0 %>
    <% @sessions.each do |session| %>
      <p><%= "La session commmence le #{session.start_date}" %></p>
      <p><%= "La session finit le #{session.end_date}" %></p>
      <p><%= "Lieu : #{session.location}" %></p>
      <p><%= "Prix : #{session.price}" %></p>
    <% end %>
  <% else %>
    <p>Pas de sessions de prévues...</p>
  <% end %>

  <div class="comments">
    <%= render 'comments' %>
    <%= render 'new_comment_form' %>
  </div>
</div>
