
<% @training.comments.each do |comment| %>
  <div class="comment">
    <div class="user_avatar">
		 		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
		 	</div>
    <div class="comment-author">

    </div>
    <div class="comment-content">
      <%= comment.content %>
    </div>
    <div class="comment_details">
 			<ul>
 				<li><i class="fa fa-clock-o"></i> 13:94</li>
 				<li><i class="fa fa-calendar"></i><%= comment.updated_at %></li>
 				<li><i class="fa fa-pencil"></i> <span class="user"><%= comment.user.full_name %></span></li>
 			</ul>
		</div
    <% if current_user %>
      <% if comment.user.id == current_user.id %>
        <%= form_tag comment_path(comment.id), method: "delete" do %>
          <%= hidden_field_tag "training_id", @training.id %>
          <%= hidden_field_tag "comment_id", comment.id %>
          <%= submit_tag "Delete", {class: 'btn btn-danger'} %>
        <% end %>
        <%= form_tag edit_comment_path(comment.id), method: "get" do %>
          <%= hidden_field_tag "training_id", @training.id %>
          <%= hidden_field_tag "comment_id", comment.id %>
          <%= submit_tag "Edit", {class: 'btn btn-info'} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
