
<% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
      <p class="alert alert-danger d-flex justify-content-center" role="alert"><%= message %></p>
    <% end %>
<% end %>

<div class="container mt-5 form-group">
 <%= form_tag url_for(action: 'update'), method: "patch" do %>

      <strong><%= label_tag 'Contenu du commentaire' %></strong>
      <%= text_area_tag 'content', @comment.content, class:"form-control" %>
      <br />
      <%= hidden_field_tag "school_id", params[:school_id] %>
      <%= hidden_field_tag "training_id", params[:training_id] %>
      <div class="d-flex justify-content-center"><%= submit_tag "Editer le commentaire", class:"btn btn-success btn-lg"%></div>

    <% end %>
        <hr>
    <div style="margin-top: 10px;" class="d-flex justify-content-center"><%= link_to "Retour Accueil", root_path, :class => "btn btn-info btn-sm" %></div>
</div>
