<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<nav>
			<ul>
				<li><%= link_to "Blog", "#" %></li>
				<li><%= link_to "Notre équipe", "#" %></li>
				<li><%= link_to "Contactez-nous", "#" %></li>
				<li><%= link_to "Termes d'utilisation", "#" %></li>
				<li>© <%= Date.today.year %> Reconversion Web Pro</li>
			</ul>
			
		</nav>
	</div>
</footer>