<div class="footer">
  <ul class="list-unstyled">
    <li class="float-right">
      <a href="#">Haut de page</a>
    </li>
    <div class="mb-2">
      <ul class="list-unstyled">
      	<li><%= link_to "Le projet", "https://github.com/Aspinaut/Projet-Final" %></li>
				<li><%= link_to "Blog", "#" %></li>
				<li><%= link_to "Notre équipe", "#" %></li>
				<li><%= link_to "Contactez-nous", "#" %></li>
				<li><%= link_to "Termes d'utilisation", "#" %></li>
			</ul>
			<p>© <%= Date.today.year %> Reconversion Web Pro</p>
    </div>
  </ul>
</div>
