<!DOCTYPE html>
<html>
  <head>
    <title>ProjetFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>


    <!-- Flatly : Bootswatch theme -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs" crossorigin="anonymous">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://use.fontawesome.com/e329530bc6.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="logorwp">
  <%= link_to root_path do %>
  <%= image_tag("propositionlogo2.png", size: "140x60") %>
   <% end %>
   </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto"">
      <div class="nav-item" id="element1">
        <%= link_to "Les formations", trainings_path, class: "nav-link" %>
      </div>

      <div class="nav-item" id="element4">
        <%= link_to "Foire Aux Questions", staticpages_path , :class => "nav-link" %>
      </div>

      <div class="nav-item" id="element3">
        <%= link_to "Espace école", new_school_path, class: "nav-link" %>
      </div>


    </ul>
  </div>



  <div class="navbar_profile">
    <% if signed_in? %>
        <% if current_user.picture.attached? %>
        <%= image_tag current_user.picture, class: "navbar_profile_picture" %>
    <% end %> 

      
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
      <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("user.png", size: "30x30") %>
      Mon compte</button>

      <div class="dropdown-menu" aria-labelledby="btnGroupDrop4" style="">

      <%= link_to "Mes informations", edit_user_registration_path %>
              <br>
      <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete%>
         </div>
      </div>
    </div>

      <% else %>

            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
      <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Se connecter / S'inscrire</button>


  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop4" style="">
          <% if signed_in? %>
            <% if current_user.is_school === true %>
              <%= link_to "Mon profil", admin_index_path %>
            <% else %>
              <%= link_to "Mon profil", edit_user_registration_path %>
            <% end %>
            <br>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete%>
          <% else %>
            <%= link_to "Me connecter", new_user_session_path%><br>
            <%= link_to "M'inscrire", new_user_registration_path%>
          <% end %>
        </div>
      </div>
    </div>

    <% end %>


</nav>

  <body>
      <%= render 'flash_messages'%>
      <%= yield %>


     <%= render 'layouts/footer' %>
  </body>
</html>
